<div class="container">
  <div class="row mt-3">
    <div class="col-5">
      <img src="../../../../../assets/imagen-prueba.png" alt="">
      <div class="img-detail mt-3">
        <img src="../../../../../assets/imagen-prueba.png" alt="" class="detail">
        <img src="../../../../../assets/imagen-prueba.png" alt="" class="detail">
        <img src="../../../../../assets/imagen-prueba.png" alt="" class="detail">
      </div>
    </div>
    <div class="col-6 ml-3">
      <div class="title">
        Título del producto
      </div>
      <div class="price">
        $valor IVA INCLUIDO
      </div>
      <hr>
      <div class="variant-wrapper variant-wrapper--button js">
        <label class="variant__label" for="ProductSelect-5897160327318-option-0">
          TALLA
        </label>
        <fieldset class="variant-input-wrap" name="Talla" data-index="option1"
          id="ProductSelect-5897160327318-option-0">
          <div class="variant-input mr-3" data-index="option1" data-value="U">
            <div class="element">U</div>
          </div>
          <div class="variant-input mr-3" data-index="option1" data-value="U">
            <div class="element">S</div>
          </div>
          <div class="variant-input mr-3" data-index="option1" data-value="U">
            <div class="element">M</div>
          </div>
          <div class="variant-input mr-3" data-index="option1" data-value="U">
            <div class="element">L</div>
          </div>
        </fieldset>
      </div>
      <div class="btn-add">
        <button class="add">AGREGAR AL CARRITO</button>
      </div>
      <div class="btn-buy">
        <button class="buy">COMPRAR AHORA</button>
      </div>
    </div>
  </div>
</div>
