<footer>
  <div>
    <ul>
      <li class="mt-1">
        <a href="">Políticas de cambio</a>
      </li>
      <li class="mt-1">
        <a href="">Políticas de garantía</a>
      </li>
      <li class="mt-1">
        <a href="">Políticas de envío</a>
      </li>
    </ul>
  </div>

  <div class="list-logo">
    <ul>
      <li>
        <img src="../../../assets//logo.png" alt="">
      </li>
      <li>
        <h4>Copyright &copy; 2020</h4>
      </li>
      <li>
        <h4>Alma Store todos los derechos son reservados</h4>
      </li>
    </ul>
  </div>

  <div class="redes">
    <ul>
      <li class="ml-3"><i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i></li>
      <li class="ml-3"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></li>
      <li class="ml-3"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></li>
    </ul>
  </div>
</footer>
