.collection-filter__item--sort {
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding-left: 7.5px;
}

.collection-filter__item {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 15px;
  text-align: end;
}

.collection-filter__sort-container {
  background: #fff;
}

.collection-filter select {
  display: block;
  width: 100%;
}

input,
textarea,
select {
  background-color: inherit;
  color: inherit;
}

option {
  color: #000;
  background-color: #fff;
}

.grid-x {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: 50px;
}

.grid-x .cell {
  margin-bottom: 0.5rem;
}

@media print, screen and (min-width: 40em) {
  .grid-x {
    padding-left: 0.5rem;
  }

  .grid-x > .medium-4 {
    width: 33.33333%;
  }

  .grid-x > .cell {
    padding-right: 0.5rem;
  }
}

img {
  width: 85%;
}
