<div class="container">
  <h1 class="title-page pt-5 pb-3">Blusas</h1>
  <div class="collection-filter__item collection-filter__item--sort">
    <div class="collection-filter__sort-container"><label for="SortBy" class="hidden-label"></label>
      <select name="SortBy" id="SortBy" data-default-sortby="created-descending">
        <option value="title-ascending" selected="selected">Ordenar</option>
        <option value="manual">Características</option>
        <option value="best-selling">Más vendidos</option>
        <option value="title-ascending">Alfabéticamente, A-Z</option>
        <option value="title-descending">Alfabéticamente, Z-A</option>
        <option value="price-ascending">Precio, menor a mayor</option>
        <option value="price-descending">Precio, mayor a menor</option>
        <option value="created-ascending">Fecha: antiguo(a) a reciente</option>
        <option value="created-descending" selected="selected">Fecha: reciente a antiguo(a)</option>
      </select>
    </div>
  </div>

  <div class="grid-x mt-4">
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/blusa-espalda-abierta.jpeg" alt="">
      </a>
    </div>
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/body-con-escote-en-v.jpeg" alt="">
      </a>
    </div>
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/body-manga-larga-con-hombreras.jpeg" alt="">
      </a>
    </div>
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/body-tiras-blonda.jpeg" alt="">
      </a>
    </div>
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/camisa-blonda-manga-larga.jpeg" alt="">
      </a>
    </div>
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/camisa-con-perlas.jpg" alt="">
      </a>
    </div>
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/camisa-corta-boleros.jpeg" alt="">
      </a>
    </div>
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/camisa-de-lentejuelas.jpeg" alt="">
      </a>
    </div>
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/camisa-espalda-abierta.jpeg" alt="">
      </a>
    </div>
    <div class="cell medium-4">
      <a href="">
        <img src="../../../../assets/mujeres/Lista/camisa-larga-plisada.jpeg" alt="">
      </a>
    </div>
  </div>
</div>
