.logo {
  width: 8rem;
}

a.nav-link:hover {
  color: #fff !important;
  background-color: #000;
  border-radius: 5px;
}

.nav-c {
  background-color: #f8f9fa;
}

/* Este estilo debe eliminarse cuando los elementos se activen */
.activo {
  color: #fff !important;
  background-color: #000;
  border-radius: 5px;
}
/***/

a.nav-link:active {
  color: #fff !important;
  background-color: #000;
  border-radius: 5px;
}

a.nav-link {
  font-weight: bolder;
  text-transform: uppercase;
}

input.form-control {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0px;
  padding: 0px;
  background: #f8f9fa;
}

.btn-search {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0px;
}

@media only screen and (max-width: 360px) {
  .form-control {
    width: 80%;
  }
}

@media only screen and (min-width: 361px) {
  .form-control {
    width: 85%;
  }
}

@media only screen and (min-width: 1020px) {
  .form-control {
    width: 80%;
  }
}
