/* You can add global styles to this file, and also import other style files */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

ul,
ol {
  margin-bottom: 5px;
}

img {
  vertical-align: middle;
  border: 0;
}
